<pdf-viewer
      [src]="LanguageEnglish ? pdfSrcEn : pdfSrcEs"
      [original-size]="true"
      [render-text]="true"
      [rotation]="0"
      [show-all]="true"
      [fit-to-page]="false"
      [zoom]="zoomSize"
      [zoom-scale]="'page-width'"
      [stick-to-page]="true"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="true"
      class="!w-[85vw] md:!w-[85vw] lg:!w-[78vw] xl:!w-[65vw] 2xl:!w-[55vw] h-auto !mb-6 !block !my-0 !mx-auto"
      [style]="heightVh"
></pdf-viewer>
