<!-- TODO: Fix responsive -->
@if (LanguageEnglish) {
  <pdf-viewer
              [src]="pdfSrcEn"
              [render-text]="true"
              [original-size]="true"
              [fit-to-page]="true"
              style="width: 1100px; height: 1075px "
  ></pdf-viewer>
} @else {
  <pdf-viewer
              [src]="pdfSrcEs"
              [render-text]="true"
              [original-size]="true"
              [fit-to-page]="true"
              style="width: 1100px; height: 1075px "
  ></pdf-viewer>
}
