<portfolio-nav-bar></portfolio-nav-bar>
<div class="bg-[#E9E9E9] pt-20">
  <!-- Language selector -->
  <div class="w-[80%] mx-auto flex justify-center gap-12 my-6 text-neutral-500 font-medium">
    <!-- English -->
    <div class="pb-1 border-b-2 hover:text-neutral-600"
      [ngClass]="{
        'border-blue-500': resumeEn,
        'border-gray-500': !resumeEn,
      }">
      <button (click)="resumeEn = true">Resume - English</button>
    </div>
    <!-- Spanish -->
    <div class="pb-1 border-b-2 hover:text-neutral-600"
      [ngClass]="{
        'border-blue-500': !resumeEn,
        'border-gray-500': resumeEn,
      }">
      <button (click)="resumeEn = false">Resume - Spanish</button>
    </div>
  </div>

  <!-- Resume -->
  <div class="flex justify-center">
    @if(resumeEn){
      <div class="py-2">

        <div class="flex justify-center mb-4">
          <shared-download-button [filePath]="resumeEnPath"></shared-download-button>
        </div>

        <portfolio-resume-pdf [LanguageEnglish]="true"></portfolio-resume-pdf>

        <div class="flex justify-center mb-12">
          <shared-download-button [filePath]="resumeEnPath"></shared-download-button>
        </div>
      </div>
    } @else {
      <div class="py-2">

        <div class="flex justify-center mb-4">
          <shared-download-button [filePath]="resumeEsPath"></shared-download-button>
        </div>

        <portfolio-resume-pdf [LanguageEnglish]="false"></portfolio-resume-pdf>

        <div class="flex justify-center mb-12">
          <shared-download-button [filePath]="resumeEsPath"></shared-download-button>
        </div>
      </div>
    }
  </div>
</div>
