<!-- TODO: backdrop blur? -->
<!-- TODO: color input? -->
<!-- NavBar -->
<nav id="navbar" class="fixed z-50 font-[Italiana] bg-transparent backdrop-blur-[1px] drop-shadow text-2xl md:text-2xl lg:text-3xl">
  <div class="w-screen">
    <div class="flex justify-between items-center w-[90%] ml-[5%] mr-[5%] my-4">

      <div class="flex">
        <!-- Logo -->
        <a [routerLink]="['/routePath']" routerLinkActive="router-link-active">
          Daniel Cobos
        </a>
      </div>

      <!-- Primary nav -->
      <div class="hidden md:flex w-[40%] justify-between">
        @for (item of menuItems; track item.title) {
          <a [routerLink]="[item.url]"
            class="group transition-all duration-300 ease-in-out"
            >
            <span routerLinkActive="bg-[length:100%_2px]"
              class="bg-left-bottom bg-gradient-to-r bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out mix-blend-difference"
              [ngClass]="{
                'text-white': textWhite,
                'from-white': textWhite,
                'to-white': textWhite,
                'from-black': !textWhite,
                'to-black': !textWhite,
              }"
              >
              {{item.title}}
            </span>
          </a>
        }
      </div>

      <!-- Mobile button goes here -->
      <div class="md:hidden flex items-center hover:text-gray-400 px-2"
      [ngClass]="{
        'text-white': textWhite,
      }">
        <button (click)="toggleMobileMenu()">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>
        </button>
      </div>

    </div>
    <!-- TODO: Dropdown animation -->
    <!-- Mobile menu -->
    @if (showMobileMenu) {
      <div id="mobileMenu" class="mobileMenu md:hidden w-full">
        @for (item of menuItems; track item.title) {
          <a [routerLink]="item.url"
            (click)="toggleMobileMenu()"
            class="block py-4 text-center text-white hover:text-gray-400"
          >
            {{item.title}}
          </a>
        }
      </div>
    }

  </div>
</nav>
