<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <div class="text-center">
      <h1 class="text-5xl font-bold mb-4 text-blue-600">Welcome to Daniel Cobos Portfolio</h1>
      <p class="text-xl mb-8 text-gray-600">
        This page is currently under development, please come back in another time.
      </p>
      <button [routerLink]="['/porfolio/home']" routerLinkActive="router-link-active"  class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Go back Home</button>
      <!-- <a href="/" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back to Home</a> -->
  </div>
</div>
