<div class="home-background font-[Michroma] pb-10 md:pb-14">

  <div class="container mx-auto">
    <div class="text-5xl sm:text-6xl md:flex">

      <!-- Column 1 (left) -->
      <div class="pt-20 md:w-1/2 md:pt-48">
        <!-- Title -->
        <div class="w-[80%] mx-[10%] text-center text-white md:w-[100%] md:mx-[0%] lg:text-start">
          <div class="lg:ml-6">
            <h1 class="mb-10 mix-blend-difference">Hi there,</h1>
            <div class="xl:ml-20">
              <span class="mix-blend-difference">I'm </span>
              <span class="daniel-bg">Daniel</span>
            </div>
          </div>
        </div>
        <!-- Quote -->
        <div class="hidden font-[Montserrat] md:flex italic md:ml-4 text-white mix-blend-difference border border-white text-2xl mt-12 xl:mt-16 w-[80%] mx-[10%] lg:w-[90%] lg:mx-[0%] lg:mr-[10%]">
          <div class="p-3">
            <!-- Sometimes life is going to hit you in the head with a brick. <span class="font-bold">Don't lose faith.</span> -->
            The only way to be truly satisfied is to do what you belive is <span class="font-bold">great work.</span>
            <div class="text-end">-Steve Jobs</div>
          </div>

        </div>
      </div>

      <!-- Column 2 (right) -->
      <div class="w-[90%] mx-[5%] sm:w-[80%] sm:mx-[10%] md:mx-0 md:w-1/2 md:pt-28">
        <!-- <img class="mt-4 shadow-sm md:w-[88%] md:mx-[6%]" srcset="assets/CoverPhoto/CoverPhoto.png" alt="CoverPhoto"> -->
        <img class="border-2 border-white mt-4 shadow-sm rounded-full md:w-[64%] md:mx-[18%]" srcset="assets/dcPhoto.png" alt="Developer Photo">
        <h1 class="text-white mix-blend-difference text-center mt-10 md:mt-12 md:text-5xl">
          Front-End developer
        </h1>
      </div>

    </div>
  </div>

</div>

<div class="bg-black p-2"></div>

<div class="bg-[#E9E9E9] font-[Montserrat] pt-12 pb-16">
  <!-- Title -->
  <div class="text-center font-bold text-4xl">
    <span class="border-2 border-black py-2 px-6">SKILLS</span>
  </div>
  <!-- Text -->
  <div class="w-fit md:w-[80%] mx-auto mt-12">
    <!-- Section 1 -->
    <div class="mt-12">
      <!-- Title -->
      <div class="text-center md:text-left text-xl font-bold">USING NOW:</div>
      <!-- Content -->
      <div class="flex flex-wrap justify-center gap-6 mt-6">
        <!-- Card 1 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/html5.svg" alt="HTML Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">HTML 5</div>
        </div>
        <!-- Card 2 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/css3.svg" alt="CSS Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">CSS 3</div>
        </div>
        <!-- Card 3 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/javascript.svg" alt="JavaScript Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">JavaScript</div>
        </div>
        <!-- Card 4 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/typescript.svg" alt="TypeScript Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">TypeScript</div>
        </div>
        <!-- Card 5 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/python.svg" alt="Python Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Python</div>
        </div>
        <!-- Card 6 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/java.svg" alt="Java Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Java</div>
        </div>
        <!-- Card 7 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/angular.svg" alt="Angular Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Angular</div>
        </div>
        <!-- Card 8 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/nodejs.svg" alt="NodeJs Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">NodeJs</div>
        </div>
        <!-- Card 9 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/jest.svg" alt="Jest Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Jest</div>
        </div>
        <!-- Card 10 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/tailwind.svg" alt="Tailwind Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Tailwind</div>
        </div>
        <!-- Card 11 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/bootstrap.svg" alt="Bootstrap Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Bootstrap</div>
        </div>
        <!-- Card 12 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/sql.svg" alt="Sql Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Postgres</div>
        </div>
        <!-- Card 13 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/mongo.svg" alt="Mongo Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Mongo</div>
        </div>
        <!-- Card 14 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/git.svg" alt="Git Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Git</div>
        </div>
      </div>
    </div>
    <!-- Section 2 -->
    <div class="mt-12">
      <!-- Title -->
      <div class="text-xl font-bold">LEARNING / LOOKING TO LEARN:</div>
      <!-- Content -->
      <div class="flex flex-wrap justify-center gap-6 mt-6">
        <!-- Card 1 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/react.svg" alt="React Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">React</div>
        </div>
        <!-- Card 2 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/next.svg" alt="Next Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Next</div>
        </div>
        <!-- Card 3 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/nest.svg" alt="Nest Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Nest</div>
        </div>
        <!-- Card 4 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/flutter.svg" alt="Flutter Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Flutter</div>
        </div>
      </div>

    </div>
    <!-- Section 3 -->
    <div class="mt-12">
      <!-- Title -->
      <div class="text-xl font-bold">OTHER SKILLS:</div>
      <!-- Content -->
      <div class="flex flex-wrap justify-center gap-6 mt-6">
        <!-- Card 1 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/spanish.svg" alt="Spanish Flag Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Spanish - Native</div>
        </div>
        <!-- Card 2 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/english.svg" alt="USA Flag Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">English - Advanced</div>
        </div>
        <!-- Card 3 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/jira.svg" alt="Jira Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Jira</div>
        </div>
        <!-- Card 4 -->
        <div class="w-48">
          <!-- Icon -->
          <div class="w-24 mx-auto"><img src="/assets/icons/scrum.svg" alt="Agile framework Icon"></div>
          <!-- Title -->
          <div class="text-center text-lg mt-4">Scrum</div>
        </div>

      </div>

    </div>
  </div>
</div>


<!-- TODO: footer -->
