<div class="home-background font-[Michroma] pb-10 md:pb-14">

  <div class="container mx-auto">
    <div class="text-5xl sm:text-6xl md:flex">

      <!-- Column 1 (left) -->
      <div class="pt-32 md:w-1/2 md:pt-48 ">
        <!-- Title -->
        <div class="w-[80%] mx-[10%] text-center text-white md:w-[100%] md:mx-[0%] xl:text-start">
          <div class="xl:ml-6">
            <h1 class="mb-10 mix-blend-difference">Hi there,</h1>
            <div class="xl:ml-20">
              <span class="mix-blend-difference">I'm </span>
              <span class="daniel-bg">Daniel</span>
            </div>
          </div>
        </div>
        <!-- Quote -->
        <div class="hidden md:flex text-white mix-blend-difference border border-white text-2xl mt-12 xl:mt-16 w-[80%] mx-[10%] xl:w-[90%] xl:mx-[0%] xl:mr-[10%]">
          <div class="p-3">
            Quote
          </div>
        </div>
      </div>

      <!-- Column 2 (right) -->
      <div class="w-[90%] mx-[5%] sm:w-[80%] sm:mx-[10%] md:mx-0 md:w-1/2 md:pt-36">
        <img class="mt-4 shadow-sm md:w-[88%] md:mx-[6%]" srcset="assets/CoverPhoto/CoverPhoto.png" alt="">
        <h1 class="text-white mix-blend-difference text-center mt-10 md:mt-12 md:text-5xl">
          Front-End developer
        </h1>
      </div>

    </div>
  </div>

</div>

<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
<p> Daniel </p>
